body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    background-image: linear-gradient(#49494A,#5B3E30);
    font-size: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.songInfo{
    color: whitesmoke;
    height: 2em;
    text-shadow: rgb(94, 94, 94) 0 0 10px;
    text-align: center;
}
.songArtist{
    font-size: .5em;
    color: rgb(245, 245, 245, 0.8);

}
.musicPlayer{
    flex-wrap: wrap;
    display: flex;
    width: 100vw;
    margin-bottom: 12%;
    align-items: center;
    justify-content: center;
}
.btn1{
    font-size: .6em;
    color: whitesmoke;
    background-color: initial;
    border: none;
    padding: 1.4em;
}
.btn1:active{
    background-color: hsl(240, 1%, 29%, 0.35);
    border-radius: 60px;
}
.bgImg{
    width: 350px;
    height: 350px;
    background-size: cover;
    background-image: url(./MEDIA/img/tu-me-dejaste-de-querer.jpg);
    background-position: center;
    border-radius: 30px;
    border: #49494A  solid 1px;
}
